
/*  DISABLE SELECT AND DRAG */
html, body, div, span, object,
form, input, h1, h2, button, label, a, img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* globals */

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);

html {
font:62.5%/1 "Droid Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
/*     background-color: hsla(0,0%,90%,1);  
    background-image: linear-gradient(-45deg, hsla(0,0%,0%,0), hsla(0,0%,0%,.05) );
    background-size: 5px; */
background: rgb(134,140,147); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(134,140,147,1) 0%, rgba(107,116,122,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(134,140,147,1)), color-stop(36%,rgba(107,116,122,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(134,140,147,1) 0%,rgba(107,116,122,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(134,140,147,1) 0%,rgba(107,116,122,1) 36%,rgba(40,52,59,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(134,140,147,1) 0%,rgba(107,116,122,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(134,140,147,1) 0%,rgba(107,116,122,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868c93', endColorstr='#28343b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


background-size: 100% auto;
background-repeat: no-repeat;
height: calc(100% - 40px);
padding-top: 30px;
}

body {
  /* margin: 100px; */
  margin: 10px 0;
}

button { border: none; display: block; }
a { text-decoration: none; display: block; }

    

#knobContainer{
    position: relative;
    /* display: block;  */
    width: 100%;
    /* left: 2%; */
    height: auto;
    min-height: 200px;
    padding-bottom: 30px;
    background: #000;
    overflow: hidden;
    /* border-radius: 2px; */
    border: 1px solid rgba(0,0,0,0.3);
    
    -moz-box-shadow:inset 1px 6px 23px #000000;
    -webkit-box-shadow:inset 1px 6px 23px #000000;
    box-shadow:inset 1px 6px 23px #000000;

    background: rgba(120,120,120,1);
    background: -moz-linear-gradient(top, rgba(120,120,120,1) 0%, rgba(74,74,74,1) 49%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(120,120,120,1)), color-stop(49%, rgba(74,74,74,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(120,120,120,1) 0%, rgba(74,74,74,1) 49%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(120,120,120,1) 0%, rgba(74,74,74,1) 49%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(120,120,120,1) 0%, rgba(74,74,74,1) 49%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(120,120,120,1) 0%, rgba(74,74,74,1) 49%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787878', endColorstr='#000000', GradientType=0 );

}

#keyboardContainer{
    /* position: absolute; */
    position: relative;
    display:block;
    /* bottom: 10px; */
    width: 100%;
    margin: 0;
}

#keyboard{
width: 100%;
margin: auto;
overflow: hidden;
}

.whiteKey{
    background: #fff;
    position: absolute;
    display: inline-block;
    border: 1px solid #454545;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 100%;
    top: 0;
    z-index: 10;
}

.blackKey{
    position: absolute;
    background: #000;
    top: 0;
    border: 1px solid #454545;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 60%;
    z-index: 20;
}

.key {
    box-shadow:0px  4px  4px rgba(0,0,0,0.3);
    cursor: pointer;
}

.key.active{
    background: orange;
/*     height: 103%;
    box-shadow: inset 0px -6px 19px rgba(0,0,0,0.3); */
}

.frame_piece{
    -webkit-border-radius: 8px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius: 8px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-radius: 8px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid rgba(0,0,0,0.3);
    
    
}
.frame_top{
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    border-radius:0;
    background: #8e120e; /* Old browsers */
    background: -moz-linear-gradient(top,  #8e120e 0%, #e20f0f 3%, #e82d10 50%, #c40d0d 97%, #820202 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8e120e), color-stop(3%,#e20f0f), color-stop(50%,#e82d10), color-stop(97%,#c40d0d), color-stop(100%,#820202)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #8e120e 0%,#e20f0f 3%,#e82d10 50%,#c40d0d 97%,#820202 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #8e120e 0%,#e20f0f 3%,#e82d10 50%,#c40d0d 97%,#820202 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #8e120e 0%,#e20f0f 3%,#e82d10 50%,#c40d0d 97%,#820202 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #8e120e 0%,#e20f0f 3%,#e82d10 50%,#c40d0d 97%,#820202 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e120e', endColorstr='#820202',GradientType=0 ); /* IE6-9 */

}

.frame_left, .frame_right{
    box-shadow:  4px 4px  4px rgba(0,0,0,0.3);
    background: #8e120e; /* Old browsers */
    background: -moz-linear-gradient(left,  #8e120e 0%, #e20f0f 3%, #e82d10 50%, #c40d0d 97%, #820202 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#8e120e), color-stop(3%,#e20f0f), color-stop(50%,#e82d10), color-stop(97%,#c40d0d), color-stop(100%,#820202)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #8e120e 0%,#e20f0f 3%,#e82d10 50%,#c40d0d 97%,#820202 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #8e120e 0%,#e20f0f 3%,#e82d10 50%,#c40d0d 97%,#820202 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #8e120e 0%,#e20f0f 3%,#e82d10 50%,#c40d0d 97%,#820202 100%); /* IE10+ */
    background: linear-gradient(to right,  #8e120e 0%,#e20f0f 3%,#e82d10 50%,#c40d0d 97%,#820202 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e120e', endColorstr='#820202',GradientType=1 ); /* IE6-9 */

}

.center_section{
/*     width: -webkit-calc(100% - 84px);
    width: -moz-calc(100% - 84px);
    width: calc(100% - 80px); */
    width: 92%;
    height:100%;
    padding-bottom: 10px;
    float: left;
}
.frame_left { border-top-right-radius: 0;}
.frame_right { border-top-left-radius: 0;}

.frame_left, .frame_right {
    float: left;
    height: 100%;
    width: 3%;
}
.center_section {
    /* width: 84%; */
}
.main_container {
    /* width: 100%; */
    overflow: hidden;
    margin:0 auto;
}

.ring10{
    background: url('../img/knobRing10.svg');
}
.ring4{
    background: url('../img/knobRing4.svg');
}
.ringWaveform
    {
    background: url('../img/knobRingWaveform.svg');
}
.ringFilter
    {
    background: url('../img/knobRingFilter.svg');
}
.knobRing {
    position: absolute;
    width: 60px;
    height: 60px;
    background-size: 100% auto;
    left: -6px;
    top: -6px;
}

.logoContainer{
    position: relative;
    width:100%;
    height:100%;
}

.logo {
    position: absolute;
/*     width: 150px;
    height:40px; */
    height:15%;
    min-height: 30px;
    min-width: 140px;
    width: 15%;
    bottom:0;
    right: 1%;
    background: url('../img/logo.svg');
    background-size: 100% 100%;
    background-position: left bottom;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.paramGroup{
    margin: 5px 9px;
    /* padding: 5px; */
    border: 2px solid #EDEDED;
    border-radius: 8px;
    float: left;
}

.moduleLabel {
    width: 100%;
    height:16px;
    padding-top: 4px; 
    color: #222;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    background: #EDEDED;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #EDEDED;
    bottom: 0;
}

.paramGroup.oscilloscope {
    width: 432px;
    height: 114px;
}

#scope-container {
    width: 100%;
    height: 92px;

    /*LCD style*/
    background-color: rgba(9, 142, 255, 0.4);
    border-radius: 0px 0px 8px 8px;
    box-shadow:         inset 0 0 10px #000000; /* embossed */
}
